<!DOCTYPE html>
<html>
<head>
    <title>設定</title>
    <img src="https://cdn-icons-png.flaticon.com/512/563/563541.png" class="img-top" alt="設定">
    <p class="setting-title">設定</p>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>

<style>
    body {
        background-color: #B0C4DE;
    }
    
    .img-top {
        display: block;
        margin: 0 auto;
        max-width: 20%;
        max-height: 20%;
    }
    
    .setting-title {
        text-align: center;
        font-size: 24px; 
        font-weight: bold;
        margin: 20px;
    }
    
    .setting-child {
        font-size: 24px;
        font-weight: bold;
        margin: 10px;
    }
    
    .center-content {
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .student-card {
        margin: 20px; 
        max-width: 900px;
    }
    
    /* Add left margin to the button */
    .add-student-button {
        margin-left: 10px; /* You can adjust this margin as needed */
    }
</style>

<body>
    <div class="center-content">
        <div>
            <p class="setting-child">お子さん</p>

            <div id="studentContainer">
                <% if @students.empty? %>
                    <p>お子さんが登録されていません。</p>
                <% else %>
                    <% @students.each do |student| %>
                        <div class="student-card p-4 border border-gray-300 rounded-md shadow-md bg-white mb-4">
                            <p class="font-bold text-xl border-b border-gray-300 mb-2 pb-2 mt-0"><strong>生徒名：</strong> <%= student.name %> </p>
                            <p class="border-gray-300 mb-2 pb-2"><strong>学年：</strong> <%= student.grade_id %> </p>
                            <p class="border-gray-0 mb-2 pb-2"><strong>学校名：</strong> <%= student.school %> </p>
                            <a href="/edit_student/<%= student.id %>" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-block mt-2">編集</a>
                        </div>
                    <% end %>
                <% end %>
            </div>
            
            <a href="/<%= params[:id] %>/add_student" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-block mt-4 add-student-button">お子さんを追加</a>
        </div>
    </div>
</body>
</html>
