<!DOCTYPE html>
<html>
<head>
    <title>カテキョ日程</title>
    <img src="https://cdn-icons-png.flaticon.com/512/3652/3652221.png" class="card-img-top" alt="カテキョ申請">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">

    
    <p class="schedule-title">カテキョ日程</h1>
    <p class="schedule-waiting">教師待ちの日程：</p>
</head>

<style>
    body {
        background-color: #B0C4DE;
    }
    
    .schedule-waiting {
        font-size: 24px;
        font-weight: bold;
        margin: 10px;
    }
    
    .schedule-title {
        text-align: center;
        font-size: 24px; 
        font-weight: bold;
        margin: 20px;
    }
    
    .card-img-top {
        display: block;
        margin: 0 auto;
        max-width: 20%;
        max-height: 20%;
    }
    
    .schedule-card {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }
</style>


<body>

    <div id="requestContainer">
        <% @schedules.each do |schedule| %>
            <% if schedule.teacher_id.nil? %>
                <div class="schedule-card p-4 border border-gray-300 rounded-md shadow-md bg-white mb-4">
                    <p class="font-bold text-xl border-b border-gray-300 mb-2 pb-2 mt-0">学生の名前: <%= schedule.student_name %></p>
                    <p class="border-gray-300 mb-2 pb-2">日付: <%= schedule.date %></p>
                    <p class="border-gray-0 mb-2 pb-2">開始時間: <%= schedule.start_time.strftime('%H:%M') %></p>
                    <p class="border-gray-0 mb-2 pb-2">終了時間: <%= schedule.end_time.strftime('%H:%M') %></p>
                </div>
            <% end %>
        <% end %>
        <% if @schedules.empty? %>
            <p>スケジュールがありません。</p>
        <% end %>
    </div>

    <div id="requestContainer"></div>

    <a href="/<%= params[:id] %>/schedule/create">
        <button name="addScheduleButton" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-block mt-4 add-student-button">日程を追加</button>
    </a>

</body>
</html>